 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Simple & Smart Expense tracker <br>from SN AnyDevice Software Solutions</p>
                    <ul>
                        <li>Keep track of your personal, family (all other accounts like Business, Travel) expenses</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                        <ul>
                            <li>Quickly enter your expenses</li>
                            <li>View expenses grouped by month and date</li>
                            <li>Know exactly where your money goes</li>
                            <li>View reports for all accounts, wallets, categories, locations</li>
                        </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://itunes.apple.com/us/app/id1456311969" class="btn btn-lg">
                        <img src="/img/download.png" alt="Download from AppStore">
                    </a>
                </div>
            </div>
        </div>
    </section>
